#avatar {
  width: 256px;
  height: 256px;
  border: 10px solid #67949D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

#name {
  margin: 0.5em 0; }

.imgleft {
  height: 240px;
  float: left; }

.pfloat {
  overflow: hidden; }

.pfloat p {
  padding-left: 20px; }

.clearfix {
  overflow: hidden; }
