.imgleft{
    height:240px;
    float:left;
}
.pfloat{
    overflow:hidden;
    
}
.pfloat p{
    padding-left:20px;
}
.clearfix{
    overflow:hidden;
}
.reveal .l1{
    font-size:2em;
}
.reveal .l1{
    font-size:2em;
}
.reveal .l2{
    font-size:1.5em;
}
.reveal .l3{
    font-size:1.2em;
}
.reveal .l4{
    font-size:1em;
}
.reveal .l5{
    font-size:0.7em;
}
.reveal .l6{
    font-size:0.5em;
}
.reveal ul{
    font-size: 0.7em;
}