#avatar {
    width: 256px;
    height: 256px;
    border:10px solid #67949D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#name{
    margin:0.5em 0;
}
.reveal .title{
    margin-bottom:1.1em;
}
.reveal .date{
    color:#ccc;
}